<style type="text/css">
#countryTable, #browserTable {
    display: inline-block;
    width: 49%;
    vertical-align: text-top;
    margin-bottom: 10px;
}

#countryTable {
    margin-right: 5px;
}

#countryTable td, #browserTable td {
    width: 1%;
}
</style>
